lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.core.*
*core.*
callgrind.*
package-lock.json

pids
logs
results
lib/binding
lib/node-v*
*.tgz
npm-debug.log
node_modules
build

spec/support/java/function/bin

.history/
.vscode/
.vagrant/*

tmp/**

*.gfs

.clang-format
.idea/
spec/support/java/function/.project
spec/support/java/function/.classpath

.gradle
*.iml
vf.gf.*

benchmark/cpp/benchmark
