lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.core.*
callgrind.*

pids
logs
results
lib/binding
*.tgz
npm-debug.log
node_modules
build

.vscode/
.vagrant/*
tmp/*

*.gfs

.idea/

.gradle
*.iml
vf.gf.*

benchmark/cpp/benchmark
